<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="dataSource.properties"/>

    <settings>
        <!--自动把数据库中的下划线命名法映射为java的驼峰命名法-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="ling.jiang.pojo.User" alias="user"/>
        <typeAlias type="ling.jiang.pojo.UserRole" alias="userRole"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--POOLED为mybatis内部提供的连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="ling.jiang.mapper.UserRoleMapper"/>
        <mapper class="ling.jiang.mapper.UserMapper"/>
    </mappers>
</configuration>