<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    
    description:        
    author:  JiangL    
    company:            
    date:    11/1/2018   
    version: v1.0       
-->
<mapper namespace="ling.jiang.mapper.UserRoleMapper">
    <!--开启二级缓存，且POJO必须实现序列化接口，SqlSession必须提交-->
    <cache/>

    <resultMap id="roleMap" type="ling.jiang.pojo.UserRole">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <collection property="users" column="role_id" fetchType="lazy"
                    select="ling.jiang.UserMapper.getUsersByRoleId"/>
    </resultMap>

    <select id="getRoleByRoleId" resultMap="roleMap">
        select t.role_id,t.role_name from auth_role t where t.role_id = #{roleId}
    </select>
</mapper>