<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--    
    description:        
    author:  JiangL    
    company:            
    date:    2018年11月08日   
    version: v1.0       
-->
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <mappers>
        <mapper class="ling.jiang.dao.RoleDao"/>
    </mappers>
</configuration>