<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    
    description:        
    author:  JiangL    
    company:            
    date:    2018年11月13日   
    version: v1.0       
-->
<mapper namespace="com.ling.jiang.mapper.RedPacketMapper">
    <resultMap id="RedPacket" type="com.ling.jiang.bean.RedPacket">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="amount" column="amount"/>
        <result property="sendDate" column="send_date"/>
        <result property="total" column="total"/>
        <result property="unitAmount" column="unit_amount"/>
        <result property="stock" column="stock"/>
        <result property="version" column="version"/>
        <result property="note" column="note"/>
    </resultMap>

    <select id="getRedPacket" resultMap="RedPacket">
        select * from t_red_packet where id = #{id}
    </select>

    <update id="decreaseRedPacket">
        update t_red_packet set stock = stock - 1, version = version+1 where id = #{id} and version = #{version}
    </update>
</mapper>